.navbar{
    /* border: 1px solid red; */
    position: absolute;
    width: 600px;
    position: absolute;
    left: 95vh;
    top: 5vh;
    z-index: 20;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 1px;
    text-decoration: none;
    list-style: none;
    color: white;
}

.navbar a{
    text-decoration: none;
    color: white;
}